.form-container {
  margin: 40px auto;
  width: 1000px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 30px;
  height: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-content-left {
  background-color: rgb(206, 236, 254);
  border-radius: 15px 0 0 15px;
  position: relative;
}

.form-img {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-img1 {
  width: 80%;
  height: 20%;
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-img-2 {
  width: 60%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-success {
  text-align: center;
  font-size: 24px;
  margin-top: 80px;
  color: #fff;
}

.form-content-right {
  border-radius: 0 15px 15px 0;
  position: relative;
  background-color: #3455cc;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-inputs {
  margin-bottom: 0.5rem;
  width: 85%;
}

.form-inputs p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #de0000;
}

.form-label {
  display: inline-block;
  font-size: 0.9rem;
  margin-bottom: 6px;
  color: #fff;
}

.form-input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 20px;
  height: 40px;
  width: 100%;
  border: none;
}

.form-input::placeholder {
  color: #020202;
  font-size: 15px;
}

.form-input-btn {
  width: 50%;
  height: 50px;
  margin-top: 10px;
  border-radius: 20px;
  background-color: #102984;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1.1rem;
}

.form-input-btn:hover {
  cursor: pointer;
  background-color: #385de4;
  transition: all 0.4s ease-out;
}
